<div class="flex flex-column justify-content-center align-items-center pt-7">
  <video
    id="my-video"
    class="video-js my-6 custom-frame"
    preload="auto"
    width="640"
    height="264"
    data-setup="{}"
  >
    <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4" />
  </video>

  <div
    class="flex flex-wrap justify-content-center align-items-center gap-3 mb-3"
  >
    <p-button
      styleClass="p-button-secondary p-button-sm"
      icon="pi pi-fast-backward"
      (onClick)="onFastBackward()"
    ></p-button>

    <p-button
      icon="pi pi-play"
      (onClick)="onPlay()"
      *ngIf="!isPlaying"
    ></p-button>
    <p-button
      icon="pi pi-pause"
      (onClick)="onPause()"
      *ngIf="isPlaying"
    ></p-button>
    <p-button
      styleClass="p-button-secondary p-button-sm"
      icon="pi pi-fast-forward"
      (onClick)="onFastForward()"
    ></p-button>
  </div>
  <p-button icon="pi pi-refresh" (onClick)="onRestart()"></p-button>
</div>
